$font-size:20px;
$font-weight:bold;
$font-family:Arial;
$color:black;
.grid_item_9{
    span{
        display: inline;
        font-size:$font-size;
        font-weight:$font-weight;
        color:$color;
        font-family:$font-family;
    }
}