$photo-size:100%;

.photo{
    display: inline-block;
    width: 24%;
    height: 100%;
    text-align: center;
    img{
        min-width: auto;
        min-height: $photo-size;
    }
}
.grid_item_7{
    .photo{
        width:27%;
        height:auto;
    }
}
